.primary-btn-container {
    background: none;
    border: none; 
    display: flex;
    font-size: 16px;
    font-weight: 700;

    .btn {
        border: none;
        border-radius: 50px;
        cursor: pointer;
        height: 44px;
        line-height: 16px;
        width: 280px;
    }
    
    .light {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff
    }
    
    .dark {
        background-color: rgb(52, 52, 52);
        color: white;
    }
    
    .buttons-container p {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

}

