.enter-code-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 433px;
    justify-content: center;

    .input-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        .code-input {
            background: rgb(52, 52, 52);
            border: none;
            border-radius: 50px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            height: 44px;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            width: 280px;
        }

        h4 {
            color: white;
        }
    }
}
