.input-container {

    padding: 20px;
    padding-bottom: 200px;
    
    .code-input {
        border: 2px solid gray;
        border-radius: 50px;
        color: rgb(52, 52, 52);
        font-size: 16px;
        font-weight: 700;
        height: 44px;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        width: 280px;
    }
}

