.enter-code-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .input-container {

        .code-input {
            border: 2px solid gray;
            border-radius: 50px;
            color: rgb(52, 52, 52);
            font-size: 16px;
            font-weight: 700;
            height: 44px;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            width: 280px;
        }
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: 168px;
    
        a {
            text-decoration: none;
        }
    }
}

