.results-card-container {
    align-items: center;
    -webkit-backdrop-filter: blur( 7.5px );
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.2 );
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 420px; 

    .card-vote-count {
        border: 2px solid #FFFFFF;
        border-radius: 20px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0%, -50%);
        width: 40px;

        p {
            font-size: 14px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    img {
        width: 110px;
    }

    p {
        color: #FFFFFF;
        cursor: pointer;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }
}