.results-card-container {
    background-color: green;
    border-radius: 12px;
    height: 60px;
    width: 280px;

    p {
        color: white;
        cursor: pointer;
        margin: 0;
        text-align: center;
    }
}