.app-container {
    background-color: #F06431;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}

.app-container .app-bg {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0%);
}

.app-container .app-content-container {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.app-bg img {
    height: 100vh;
}