.app-container {
    background-color: #F06431;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}

.app-container .app-bg {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translate(-50%, 0%);
}

.app-container .app-content-container {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.app-bg img {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
  
header .placeholder-logo {
    border: 6px solid white;
    height: 90px;
    width: 90px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    cursor: pointer;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }