body {
  background-color: #abd5db;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

header .placeholder-logo {
  border: 10px solid white;
  height: 100px;
  width: 100px;
}

