body {
  background-color: #abd5db;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

header .placeholder-logo {
  border: 10px solid white;
  height: 100px;
  width: 100px;
}

h1 {
  background-color: brown;
  color: purple;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  width: 50%;

}

