.btn-s-container {
    background: none;
    border: none; 
    display: flex;
    font-size: 14px;
    font-weight: 700;

    .btn {
        align-items: center;
        border: none;
        border-radius: 22px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 180px;
    }
    
    .light {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff
    }
    
    .dark {
        background-color: rgb(52, 52, 52);
        color: white;
    }


}

